.skills{
    min-height: 600px;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}
.skills-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.skill-item{
    padding-top: 85px;
    flex-basis: 33%;
}

@media (max-width: 480px){
    .skills-wrapper{
        justify-content: space-around;
    }
    .skill-item{
        flex-basis: 50%;
    }
}