@font-face {
  font-family: "MullerBlack";
  font-display: swap;
  src: url("../fonts/MullerBlack.woff") format("woff"), url("../fonts/MullerBlack.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "MullerBlackItalic";
  font-display: swap;
  src: url("../fonts/MullerBlackItalic.woff") format("woff"), url("../fonts/MullerBlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "MullerBold";
  font-display: swap;
  src: url("../fonts/MullerBold.woff") format("woff"), url("../fonts/MullerBold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MullerBoldItalic";
  font-display: swap;
  src: url("../fonts/MullerBoldItalic.woff") format("woff"), url("../fonts/MullerBoldItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MullerExtraBold";
  font-display: swap;
  src: url("../fonts/MullerExtraBold.woff") format("woff"), url("../fonts/MullerExtraBold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MullerExtraBoldItalic";
  font-display: swap;
  src: url("../fonts/MullerExtraBoldItalic.woff") format("woff"), url("../fonts/MullerExtraBoldItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MullerHairline";
  font-display: swap;
  src: url("../fonts/MullerHairline.woff") format("woff"), url("../fonts/MullerHairline.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MullerHairlineItalic";
  font-display: swap;
  src: url("../fonts/MullerHairlineItalic.woff") format("woff"), url("../fonts/MullerHairlineItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MullerHeavy";
  font-display: swap;
  src: url("../fonts/MullerHeavy.woff") format("woff"), url("../fonts/MullerHeavy.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MullerHeavyItalic";
  font-display: swap;
  src: url("../fonts/MullerHeavyItalic.woff") format("woff"), url("../fonts/MullerHeavyItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MullerLight";
  font-display: swap;
  src: url("../fonts/MullerLight.woff") format("woff"), url("../fonts/MullerLight.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MullerLightItalic";
  font-display: swap;
  src: url("../fonts/MullerLightItalic.woff") format("woff"), url("../fonts/MullerLightItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MullerMedium";
  font-display: swap;
  src: url("../fonts/MullerMedium.woff") format("woff"), url("../fonts/MullerMedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "MullerMediumItalic";
  font-display: swap;
  src: url("../fonts/MullerMediumItalic.woff") format("woff"), url("../fonts/MullerMediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "MullerRegular";
  font-display: swap;
  src: url("../fonts/MullerRegular.woff") format("woff"), url("../fonts/MullerRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MullerRegularItalic";
  font-display: swap;
  src: url("../fonts/MullerRegularItalic.woff") format("woff"), url("../fonts/MullerRegularItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MullerThin";
  font-display: swap;
  src: url("../fonts/MullerThin.woff") format("woff"), url("../fonts/MullerThin.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MullerThinItalic";
  font-display: swap;
  src: url("../fonts/MullerThinItalic.woff") format("woff"), url("../fonts/MullerThinItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MullerUltraLight";
  font-display: swap;
  src: url("../fonts/MullerUltraLight.woff") format("woff"), url("../fonts/MullerUltraLight.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MullerUltraLightItalic";
  font-display: swap;
  src: url("../fonts/MullerUltraLightItalic.woff") format("woff"), url("../fonts/MullerUltraLightItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PlayfairDisplay-Black";
  font-display: swap;
  src: url("../fonts/PlayfairDisplay-Black.woff") format("woff"), url("../fonts/PlayfairDisplay-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "PlayfairDisplay-BlackItalic";
  font-display: swap;
  src: url("../fonts/PlayfairDisplay-BlackItalic.woff") format("woff"), url("../fonts/PlayfairDisplay-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "PlayfairDisplay-Bold";
  font-display: swap;
  src: url("../fonts/PlayfairDisplay-Bold.woff") format("woff"), url("../fonts/PlayfairDisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "PlayfairDisplay-BoldItalic";
  font-display: swap;
  src: url("../fonts/PlayfairDisplay-BoldItalic.woff") format("woff"), url("../fonts/PlayfairDisplay-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "PlayfairDisplay-ExtraBold";
  font-display: swap;
  src: url("../fonts/PlayfairDisplay-ExtraBold.woff") format("woff"), url("../fonts/PlayfairDisplay-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "PlayfairDisplay-ExtraBoldItalic";
  font-display: swap;
  src: url("../fonts/PlayfairDisplay-ExtraBoldItalic.woff") format("woff"), url("../fonts/PlayfairDisplay-ExtraBoldItalic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "PlayfairDisplay-Italic";
  font-display: swap;
  src: url("../fonts/PlayfairDisplay-Italic.woff") format("woff"), url("../fonts/PlayfairDisplay-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "PlayfairDisplay-Medium";
  font-display: swap;
  src: url("../fonts/PlayfairDisplay-Medium.woff") format("woff"), url("../fonts/PlayfairDisplay-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "PlayfairDisplay-MediumItalic";
  font-display: swap;
  src: url("../fonts/PlayfairDisplay-MediumItalic.woff") format("woff"), url("../fonts/PlayfairDisplay-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "PlayfairDisplay-Regular";
  font-display: swap;
  src: url("../fonts/PlayfairDisplay-Regular.woff") format("woff"), url("../fonts/PlayfairDisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PlayfairDisplay-SemiBold";
  font-display: swap;
  src: url("../fonts/PlayfairDisplay-SemiBold.woff") format("woff"), url("../fonts/PlayfairDisplay-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "PlayfairDisplay-SemiBoldItalic";
  font-display: swap;
  src: url("../fonts/PlayfairDisplay-SemiBoldItalic.woff") format("woff"), url("../fonts/PlayfairDisplay-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
}

html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.shadow-purple {
  -webkit-box-shadow: 0 0 5em 0.5em rgba(50, 50, 150, 0.9);
          box-shadow: 0 0 5em 0.5em rgba(50, 50, 150, 0.9);
}

.section-title,
.callbacl-question {
  color: #000;
  font-family: "MullerBold";
  font-size: 36px;
}

.white {
  color: #fff;
}

.figures-vector {
  position: absolute;
  top: 0px;
  right: 0;
  height: 910px;
  -webkit-animation: opacity 1s alternate ease-in-out;
          animation: opacity 1s alternate ease-in-out;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.figures-polygon {
  position: absolute;
  width: 670px;
  height: 365px;
  top: 330px;
  right: 40px;
  -webkit-animation: for-polygon 3s ease-in-out;
          animation: for-polygon 3s ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.figures-rectangle1 {
  position: absolute;
  background: url("../img/header/Rectangle.webp") center no-repeat;
  z-index: 11;
  width: 400px;
  height: 150px;
  -webkit-transform: rotate(-60deg);
      -ms-transform: rotate(-60deg);
          transform: rotate(-60deg);
  top: 50px;
  left: -250px;
  -webkit-animation: rectangle1 2.5s ease-in-out;
          animation: rectangle1 2.5s ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.figures-rectangle2 {
  position: absolute;
  background: url("../img/header/Rectangle.webp") center no-repeat;
  z-index: 11;
  width: 400px;
  height: 150px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  top: 250px;
  left: -300px;
  -webkit-animation: rectangle2 2s ease-in-out;
          animation: rectangle2 2s ease-in-out;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes for-polygon {
  from {
    -webkit-transform: translateX(755px);
            transform: translateX(755px);
  }

  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes for-polygon {
  from {
    -webkit-transform: translateX(755px);
            transform: translateX(755px);
  }

  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes opacity {
  from {
    opacity: 0.3;
  }

  to {
    opacity: 0.7;
  }
}

@keyframes opacity {
  from {
    opacity: 0.3;
  }

  to {
    opacity: 0.7;
  }
}

@-webkit-keyframes rectangle1 {
  from {
    -webkit-box-shadow: 0 0 5em 0.5em rgba(50, 50, 150, 0.9);
            box-shadow: 0 0 5em 0.5em rgba(50, 50, 150, 0.9);
    left: -400px;
  }

  to {
    -webkit-box-shadow: 0 0 5em 0.5em rgba(50, 50, 150, 0.1);
            box-shadow: 0 0 5em 0.5em rgba(50, 50, 150, 0.1);
    left: -250px;
  }
}

@keyframes rectangle1 {
  from {
    -webkit-box-shadow: 0 0 5em 0.5em rgba(50, 50, 150, 0.9);
            box-shadow: 0 0 5em 0.5em rgba(50, 50, 150, 0.9);
    left: -400px;
  }

  to {
    -webkit-box-shadow: 0 0 5em 0.5em rgba(50, 50, 150, 0.1);
            box-shadow: 0 0 5em 0.5em rgba(50, 50, 150, 0.1);
    left: -250px;
  }
}

@-webkit-keyframes rectangle2 {
  from {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    -webkit-box-shadow: 0 0 5em 0.5em rgba(50, 50, 150, 0.9);
            box-shadow: 0 0 5em 0.5em rgba(50, 50, 150, 0.9);
  }

  to {
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
    -webkit-box-shadow: 0 0 5em 0.5em rgba(50, 50, 150, 0.1);
            box-shadow: 0 0 5em 0.5em rgba(50, 50, 150, 0.1);
  }
}

@keyframes rectangle2 {
  from {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    -webkit-box-shadow: 0 0 5em 0.5em rgba(50, 50, 150, 0.9);
            box-shadow: 0 0 5em 0.5em rgba(50, 50, 150, 0.9);
  }

  to {
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
    -webkit-box-shadow: 0 0 5em 0.5em rgba(50, 50, 150, 0.1);
            box-shadow: 0 0 5em 0.5em rgba(50, 50, 150, 0.1);
  }
}

.figures-rectangle3 {
  position: absolute;
  background: url("../img/header/Rectangle.webp") center no-repeat;
  z-index: 11;
  width: 470px;
  height: 220px;
  -webkit-transform: rotate(-60deg);
      -ms-transform: rotate(-60deg);
          transform: rotate(-60deg);
  top: 100px;
  right: -250px;
  -webkit-animation: rectangle3 2s ease-in-out;
          animation: rectangle3 2s ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes rectangle3 {
  from {
    -webkit-box-shadow: 0 0 5em 0.5em rgba(50, 50, 150, 0.9);
            box-shadow: 0 0 5em 0.5em rgba(50, 50, 150, 0.9);
    right: -520px;
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }

  to {
    -webkit-box-shadow: 0 0 5em 0.5em rgba(50, 50, 150, 0.1);
            box-shadow: 0 0 5em 0.5em rgba(50, 50, 150, 0.1);
    right: -250px;
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
  }
}

@keyframes rectangle3 {
  from {
    -webkit-box-shadow: 0 0 5em 0.5em rgba(50, 50, 150, 0.9);
            box-shadow: 0 0 5em 0.5em rgba(50, 50, 150, 0.9);
    right: -520px;
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }

  to {
    -webkit-box-shadow: 0 0 5em 0.5em rgba(50, 50, 150, 0.1);
            box-shadow: 0 0 5em 0.5em rgba(50, 50, 150, 0.1);
    right: -250px;
    -webkit-transform: rotate(-60deg);
            transform: rotate(-60deg);
  }
}

.figures-rectangle4 {
  position: absolute;
  background: url("../img/header/Rectangle.webp") center no-repeat;
  z-index: 11;
  width: 600px;
  height: 290px;
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg);
  top: 350px;
  right: -330px;
  -webkit-animation: rectangle4 2s ease-in-out;
          animation: rectangle4 2s ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes rectangle4 {
  from {
    -webkit-box-shadow: 0 0 5em 0.5em rgba(50, 50, 150, 0.9);
            box-shadow: 0 0 5em 0.5em rgba(50, 50, 150, 0.9);
    right: -670px;
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }

  to {
    -webkit-box-shadow: 0 0 5em 0.5em rgba(50, 50, 150, 0.1);
            box-shadow: 0 0 5em 0.5em rgba(50, 50, 150, 0.1);
    right: -330px;
    -webkit-transform: rotate(120deg);
            transform: rotate(120deg);
  }
}

@keyframes rectangle4 {
  from {
    -webkit-box-shadow: 0 0 5em 0.5em rgba(50, 50, 150, 0.9);
            box-shadow: 0 0 5em 0.5em rgba(50, 50, 150, 0.9);
    right: -670px;
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }

  to {
    -webkit-box-shadow: 0 0 5em 0.5em rgba(50, 50, 150, 0.1);
            box-shadow: 0 0 5em 0.5em rgba(50, 50, 150, 0.1);
    right: -330px;
    -webkit-transform: rotate(120deg);
            transform: rotate(120deg);
  }
}

.figures-vector2 {
  position: absolute;
  display: block;
  top: -100px;
  left: 345px;
  height: 600px;
  width: 212px;
  opacity: 0.3;
  -webkit-animation: opacity2 2s ease-in-out;
          animation: opacity2 2s ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes opacity2 {
  from {
    opacity: 0.1;
  }

  to {
    opacity: 1;
  }
}

@keyframes opacity2 {
  from {
    opacity: 0.1;
  }

  to {
    opacity: 1;
  }
}

.figures-polygon2 {
  position: absolute;
  display: block;
  top: 240px;
  left: -250px;
  width: 528px;
  height: 351px;
  -webkit-animation: about-polygon 3s ease-in-out;
          animation: about-polygon 3s ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes about-polygon {
  from {
    -webkit-transform: translateX(-435px);
            transform: translateX(-435px);
  }

  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes about-polygon {
  from {
    -webkit-transform: translateX(-435px);
            transform: translateX(-435px);
  }

  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.figures-dream {
  position: absolute;
  top: 40px;
  left: -200px;
  -webkit-transform: rotate(-38deg);
      -ms-transform: rotate(-38deg);
          transform: rotate(-38deg);
  -webkit-animation: dream 1s ease-in-out;
          animation: dream 1s ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes dream {
  from {
    -webkit-transform: rotate(138deg);
            transform: rotate(138deg);
  }

  to {
    -webkit-transform: rotate(-38deg);
            transform: rotate(-38deg);
  }
}

@keyframes dream {
  from {
    -webkit-transform: rotate(138deg);
            transform: rotate(138deg);
  }

  to {
    -webkit-transform: rotate(-38deg);
            transform: rotate(-38deg);
  }
}

.figures-programm__right {
  position: absolute;
  top: 50px;
  right: -45px;
  z-index: -1;
  -webkit-animation: programm-right 2s ease-in-out;
          animation: programm-right 2s ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.figures-programm__left {
  position: absolute;
  top: 400px;
  left: -250px;
  z-index: -1;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-animation: programm-left 2s ease-in-out;
          animation: programm-left 2s ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes programm-left {
  from {
    -webkit-transform: translateX(-435px);
            transform: translateX(-435px);
  }

  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes programm-left {
  from {
    -webkit-transform: translateX(-435px);
            transform: translateX(-435px);
  }

  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes programm-right {
  from {
    -webkit-transform: translateX(835px);
            transform: translateX(835px);
  }

  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes programm-right {
  from {
    -webkit-transform: translateX(835px);
            transform: translateX(835px);
  }

  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.figures-area {
  position: absolute;
  z-index: -1;
  width: 670px;
  height: 365px;
  z-index: 11;
  top: -80px;
  left: -210px;
  -webkit-animation: figures-area 2s ease-in-out;
          animation: figures-area 2s ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes figures-area {
  from {
    -webkit-transform: translateX(-455px);
            transform: translateX(-455px);
  }

  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes figures-area {
  from {
    -webkit-transform: translateX(-455px);
            transform: translateX(-455px);
  }

  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.figures-part {
  position: absolute;
  z-index: -1;
  width: 670px;
  height: 365px;
  z-index: 11;
  top: 100px;
  right: -190px;
  -webkit-animation: figures-part 2s ease-in-out;
          animation: figures-part 2s ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes figures-part {
  from {
    -webkit-transform: translateX(485px);
            transform: translateX(485px);
  }

  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes figures-part {
  from {
    -webkit-transform: translateX(485px);
            transform: translateX(485px);
  }

  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.header {
  position: relative;
  background: url("../img/header/main-bg.webp") center no-repeat;
  background-color: #20203a;
  background-size: cover;
  padding-top: 57px;
  min-height: 900px;
  z-index: 1;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo__title {
  color: #fff;
  font-family: "MullerBold";
  font-size: 28px;
  text-transform: uppercase;
}

.nav-btn {
  display: none;
  z-index: 55;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.nav-btn__line,
.nav-btn__line:before,
.nav-btn__line:after {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  margin-left: -10px;
  width: 20px;
  height: 2px;
  background-color: #222;
}

.nav-btn__line:before,
.nav-btn__line:after {
  content: "";
  display: block;
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
}

.nav-btn__line:before {
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
}

.nav-btn__line:after {
  -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
          transform: translateY(5px);
}

.nav-btn__active .nav-btn__line:after {
  -webkit-transform: rotate(35deg);
      -ms-transform: rotate(35deg);
          transform: rotate(35deg);
  width: 10px;
  -webkit-transform-origin: left top;
      -ms-transform-origin: left top;
          transform-origin: left top;
}

.nav-btn__active .nav-btn__line:before {
  -webkit-transform: rotate(-35deg);
      -ms-transform: rotate(-35deg);
          transform: rotate(-35deg);
  width: 10px;
  -webkit-transform-origin: left bottom;
      -ms-transform-origin: left bottom;
          transform-origin: left bottom;
}

.header-nav__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav__item {
  color: #acacc9;
  font-family: "MullerBold";
  font-size: 14px;
  text-transform: uppercase;
  margin-right: 50px;
}

.header-nav__item:hover {
  color: #8553be;
}

.header-nav__item:active {
  -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
          transform: translateY(2px);
}

.header-nav__item:last-child {
  margin-right: 0;
}

.header-contact {
  padding-bottom: 10px;
}

.header-contact__number {
  color: #fff;
  font-family: "Playfair Display";
  font-size: 28px;
  text-transform: uppercase;
}

.caption {
  position: relative;
}

.caption-title {
  padding-top: 224px;
}

.caption-title__date {
  padding-bottom: 30px;
  color: #fff;
  font-family: "PlayfairDisplay-Bold";
  font-size: 32px;
}

.caption-title__header--top {
  padding-bottom: 30px;
  color: #fff;
  font-family: "MullerBold";
  font-size: 52px;
}

.caption-title__header--main {
  padding-bottom: 10px;
  background-image: -o-linear-gradient(350deg, #8553be 0%, #d724cd 50%, #8553be 100%);
  background-image: linear-gradient(-260deg, #8553be 0%, #d724cd 50%, #8553be 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #000000;
  font-family: "MullerBlack";
  font-size: 82px;
  text-transform: uppercase;
}

.caption-title__header--bot {
  color: #8282a2;
  font-family: "MullerBold";
  font-size: 52px;
  margin-left: 263px;
}

.caption-button {
  padding-top: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.caption-form__button--submit {
  border-radius: 38px;
  background-color: #000;
  background-image: -o-linear-gradient(322deg, #7f12ab 0%, #da16c9 100%);
  background-image: linear-gradient(-232deg, #7f12ab 0%, #da16c9 100%);
  padding: 30px 144px;
  border: none;
  color: #fff;
  outline: none;
  font-family: "MullerBold";
  font-size: 14px;
  text-transform: uppercase;
}

.caption-form__button--submit:hover {
  -webkit-transform: scale(1.0001);
      -ms-transform: scale(1.0001);
          transform: scale(1.0001);
  font-size: 16px;
  -webkit-transition: ease-in-out .3s;
  -o-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
}

.caption-form__button--submit:active {
  -webkit-box-shadow: 0 0 5em 0.5em rgba(50, 50, 150, 0.9);
          box-shadow: 0 0 5em 0.5em rgba(50, 50, 150, 0.9);
  font-size: 17px;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.about {
  position: relative;
  min-height: 500px;
  padding-top: 100px;
}

.about-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-future {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 432px;
}

.about-future__image {
  padding-right: 30px;
}

.about-header {
  color: #000;
  font-size: 36px;
}

.about-header__regular {
  font-family: "MullerRegular";
}

.about-header__bold {
  font-family: "MullerBold";
}

.about-desc,
.about-items {
  color: #797c80;
  font-family: "MullerRegular";
  font-size: 18px;
}

.about-conf {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 554px;
}

.gallery {
  min-height: 1321px;
  background-color: #fef0ff;
  padding-top: 80px;
  text-align: center;
  padding-bottom: 60px;
}

.gallery-content {
  padding-top: 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (285px)[4];
  grid-template-columns: repeat(4, 285px);
  -ms-grid-rows: (285px)[4];
  grid-template-rows: repeat(4, 285px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery-content > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.gallery-content > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.gallery-content > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.gallery-content > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}

.gallery-content > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.gallery-content > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.gallery-content > *:nth-child(7) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}

.gallery-content > *:nth-child(8) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
}

.gallery-content > *:nth-child(9) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.gallery-content > *:nth-child(10) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

.gallery-content > *:nth-child(11) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.gallery-content > *:nth-child(12) {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
}

.gallery-content > *:nth-child(13) {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}

.gallery-content > *:nth-child(14) {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
}

.gallery-content > *:nth-child(15) {
  -ms-grid-row: 4;
  -ms-grid-column: 3;
}

.gallery-content > *:nth-child(16) {
  -ms-grid-row: 4;
  -ms-grid-column: 4;
}

.gallery-item {
  position: relative;
  z-index: 1;
}

.gallery-item:hover {
  cursor: pointer;
}

.gallery-item:hover:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 10px;
  width: 265px;
  height: 268px;
  -webkit-box-shadow: -18px 32px 76px rgba(0, 0, 0, 0.3);
          box-shadow: -18px 32px 76px rgba(0, 0, 0, 0.3);
  background-color: #000;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#7f12ab), to(#da16c9));
  background-image: -o-linear-gradient(bottom, #7f12ab 0%, #da16c9 100%);
  background-image: linear-gradient(to top, #7f12ab 0%, #da16c9 100%);
  opacity: 0.89;
  z-index: 10;
}

.gallery-item:hover .gallery-desc {
  z-index: 50;
}

.gallery-desc {
  position: absolute;
  z-index: -5;
}

.gallery-desc__name {
  color: #fff;
  font-family: "MullerBold";
  font-size: 24px;
  padding-top: 38px;
  padding-left: 25px;
  max-width: 130px;
  text-align: left;
}

.gallery-desc__about {
  color: #fff;
  font-family: "MullerRegular";
  font-size: 16px;
  padding-top: 15px;
  padding-left: 25px;
  text-align: left;
  max-width: 190px;
  line-height: 20px;
}

.dream {
  padding-top: 115px;
  padding-bottom: 120px;
}

.dream-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dream-photo {
  position: relative;
  z-index: 6;
}

.dream-photo__person {
  max-width: 100%;
  height: auto;
}

.dream-project {
  text-align: center;
  max-width: 469px;
}

.dream-desc {
  padding: 36px 0;
  color: #000;
  font-family: "PlayfairDisplay-italic";
  font-size: 20px;
}

.dream-author {
  color: #000;
  font-family: "MullerBold";
  font-size: 18px;
}

.programm {
  position: relative;
  z-index: 5;
  padding-top: 82px;
  padding-bottom: 82px;
  min-height: 800px;
  background-color: #20203a;
  text-align: center;
}

.programm-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.programm-list {
  padding-top: 60px;
  max-width: 552px;
  color: #fff;
  font-family: "MullerRegular";
  font-size: 18px;
  line-height: 26px;
  text-align: left;
}

.programm-aside {
  background-color: #f4f4f4;
  background-image: -o-linear-gradient(162deg, #7f12ab 0%, #da16c9 100%);
  background-image: linear-gradient(-72deg, #7f12ab 0%, #da16c9 100%);
  text-align: center;
  padding: 80px 0;
}

.aside-title {
  color: #fff;
  font-family: "PlayfairDisplay-italic";
  font-size: 36px;
}

.aside-author {
  padding-top: 25px;
  color: #fff;
  font-family: "MullerBold";
  font-size: 20px;
}

.card {
  min-height: 800px;
  padding-top: 80px;
  text-align: center;
}

.card-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 51px;
}

.card-item {
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  position: relative;
  margin: 2px;
  padding-bottom: 51px;
  max-width: 281px;
  min-height: 500px;
  border-radius: 6px;
}

.card-item:hover {
  cursor: pointer;
  -webkit-box-shadow: -18px 32px 76px rgba(0, 0, 0, 0.3);
          box-shadow: -18px 32px 76px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  background-color: #f9593a;
  background-image: -o-linear-gradient(133deg, #7f12ab 0%, #da16c9 100%);
  background-image: linear-gradient(-43deg, #7f12ab 0%, #da16c9 100%);
}

.card-item:hover .card-item__type,
.card-item:hover .card-item__oldprice,
.card-item:hover .card-item__newprice,
.card-item:hover .card-item__info {
  color: #fff;
}

.card-item__type {
  padding-top: 46px;
  padding-bottom: 26px;
  color: #212121;
  font-family: "MullerExtraBold";
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.88px;
}

.card-item__oldprice {
  color: #212121;
  font-family: "MullerRegular";
  font-size: 40px;
  text-decoration: line-through;
}

.card-item__newprice {
  color: #212121;
  font-family: "MullerBold";
  font-size: 50px;
}

.card-item__info {
  margin: 10px;
  max-width: 262px;
  padding-top: 28px;
  line-height: 25px;
  color: #7b7e82;
  font-family: "MullerRegular";
  font-size: 14px;
}

.button__submit {
  position: absolute;
  bottom: 50px;
  left: 40px;
  -webkit-box-shadow: -18px 32px 76px rgba(0, 0, 0, 0.3);
          box-shadow: -18px 32px 76px rgba(0, 0, 0, 0.3);
  border-radius: 23px;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#7f12ab), to(#da16c9));
  background-image: -o-linear-gradient(bottom, #7f12ab 0%, #da16c9 100%);
  background-image: linear-gradient(to top, #7f12ab 0%, #da16c9 100%);
  border: none;
  outline: none;
  padding: 20px 65px;
  color: #fafafa;
  font-family: "MullerBold";
  font-size: 12px;
  text-transform: uppercase;
}

.card-item:hover .button__submit {
  background-color: #fff;
  color: #000;
  background-image: none;
  -webkit-transform: scale(1.11);
      -ms-transform: scale(1.11);
          transform: scale(1.11);
  -webkit-transition: ease-in-out .9s;
  -o-transition: ease-in-out .9s;
  transition: ease-in-out .9s;
}

.card-item:hover .button__submit:active {
  -webkit-box-shadow: 0 0 5em 0.5em rgba(50, 50, 150, 0.9);
          box-shadow: 0 0 5em 0.5em rgba(50, 50, 150, 0.9);
  -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
          transform: translateY(5px);
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.mobile {
  min-height: 500px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.mobile-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-app__info {
  padding-top: 18px;
  color: #000;
  font-family: "MullerRegular";
  font-size: 24px;
}

.mobile-items__link {
  position: relative;
  padding-top: 30px;
  padding-left: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  color: #000;
  font-family: "MullerRegular";
  font-size: 16px;
}

.mobile-items__link:before {
  content: "";
  background: url("../img/mobile/checked.webp") center no-repeat;
  position: absolute;
  display: block;
  top: -110px;
  left: -180px;
  width: 350px;
  height: 350px;
}

.skills {
  min-height: 600px;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

.skills-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skill-item {
  padding-top: 85px;
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
}

.callback {
  padding-top: 137px;
  background-color: #fef0ff;
  padding-bottom: 100px;
}

.callback-wrapper {
  text-align: center;
}

.callbacl-question {
  padding-bottom: 10px;
}

.form-callback {
  padding-top: 60px;
}

.callback-button__submit {
  -webkit-box-shadow: -18px 32px 76px rgba(0, 0, 0, 0.3);
          box-shadow: -18px 32px 76px rgba(0, 0, 0, 0.3);
  border-radius: 28px;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#7f12ab), to(#da16c9));
  background-image: -o-linear-gradient(bottom, #7f12ab 0%, #da16c9 100%);
  background-image: linear-gradient(to top, #7f12ab 0%, #da16c9 100%);
  border: none;
  outline: none;
  color: #fff;
  font-family: "MullerBold";
  font-size: 16px;
  padding: 23px 95px;
}

.callback-button__submit:hover {
  -webkit-transform: scale(1.1001);
      -ms-transform: scale(1.1001);
          transform: scale(1.1001);
  font-size: 16px;
  -webkit-transition: ease-in-out .3s;
  -o-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
}

.callback-button__submit:active {
  -webkit-box-shadow: 0 0 5em 0.5em rgba(50, 50, 150, 0.9);
          box-shadow: 0 0 5em 0.5em rgba(50, 50, 150, 0.9);
  font-size: 17px;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.promote {
  height: auto;
  text-align: center;
  padding-top: 108px;
  padding-bottom: 108px;
  background: url("../img/promote/black.webp") center no-repeat;
  background-size: cover;
}

.promote-wrapper {
  padding-top: 70px;
  padding-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.promote-item__number {
  color: #fff;
  font-family: "MullerBold";
  font-size: 36px;
}

.promote-item__name {
  padding-top: 5px;
  color: #fff;
  font-family: "MullerRegular";
  font-size: 16px;
}

.area {
  position: relative;
  padding-top: 106px;
  padding-bottom: 106px;
  background-image: -o-linear-gradient(51deg, #da16c9 0%, #7f12ab 100%);
  background-image: linear-gradient(39deg, #da16c9 0%, #7f12ab 100%);
  background-color: #fff;
  text-align: center;
  z-index: 0;
}

.area-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form-area {
  padding-top: 60px;
  z-index: 90;
}

.form-area__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.area-input {
  width: 231px;
  height: 63px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
  padding-left: 35px;
  border-radius: 32px;
  border: 1px solid #dedede;
  background-color: #fff;
  outline: none;
}

.input-area__submit {
  border-radius: 32px;
  background-color: #000000;
  outline: none;
  border: none;
  color: #fff;
  font-family: "MullerBold";
  font-size: 14px;
  text-transform: uppercase;
  padding: 26px 94px;
}

.input-area__submit:hover {
  -webkit-transform: scale(1.03);
      -ms-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: ease-in-out .3s;
  -o-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
}

.input-area__submit:active {
  -webkit-box-shadow: 0 0 5em 0.5em rgba(50, 50, 150, 0.9);
          box-shadow: 0 0 5em 0.5em rgba(50, 50, 150, 0.9);
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.partners {
  position: relative;
  padding-top: 72px;
  padding-bottom: 72px;
  text-align: center;
}

.partners-wrapper {
  padding-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.partners-item {
  padding: 10px;
}

.footer {
  padding: 55px 0;
  background-color: #000;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-item {
  padding: 20px;
  text-align: center;
  color: #fff;
  font-size: 20px;
}

.footer-item__title {
  font-family: "MullerRegular";
  padding-bottom: 30px;
}

.footer-item__name,
.footer-item__phone,
.footer-item__email {
  padding-top: 5px;
  font-family: "MullerBold";
}

html,
body {
  height: 100vh;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.container {
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 1700px) {
  .figures-part {
    display: none;
  }
}

@media (max-width: 1680px) {
  .figures-polygon2 {
    display: none;
  }
}

@media (max-width: 1650px) {
  .figures-programm__left,
  .figures-programm__right {
    display: none;
  }
}

@media (max-width: 1320px) {
  .figures-rectangle3,
  .figures-rectangle4 {
    display: none;
  }
}

@media (max-width: 1300px) {
  .figures-dream {
    position: absolute;
    top: -100px;
    left: 280px;
    -webkit-transform: rotate(128deg);
        -ms-transform: rotate(128deg);
            transform: rotate(128deg);
  }
}

@media (max-width: 1280px) {
  .figures-rectangle1,
  .figures-rectangle2,
  .figures-polygon {
    display: none;
  }
}

@media (max-width: 1186px) {
  .card-wrapper {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .card-item {
    -webkit-box-shadow: -18px 32px 76px rgba(0, 0, 0, 0.3);
            box-shadow: -18px 32px 76px rgba(0, 0, 0, 0.3);
    margin: 50px;
  }
}

@media (max-width: 1180px) {
  .programm-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .programm-list {
    max-width: 900px;
  }

  .form-area__inputs {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .input-area__submit {
    margin-top: 20px;
    margin-right: 20px;
  }

  .area-input {
    margin-top: 20px;
  }
}

@media (max-width: 1140px) {
  .gallery-content {
    -ms-grid-columns: (285px)[2];
    grid-template-columns: repeat(2, 285px);
    -ms-grid-rows: (285px)[8];
    grid-template-rows: repeat(8, 285px);
  }
  .gallery-content > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .gallery-content > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .gallery-content > *:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .gallery-content > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .gallery-content > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .gallery-content > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
  .gallery-content > *:nth-child(7) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
  .gallery-content > *:nth-child(8) {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
  }
  .gallery-content > *:nth-child(9) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .gallery-content > *:nth-child(10) {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
  }
  .gallery-content > *:nth-child(11) {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
  }
  .gallery-content > *:nth-child(12) {
    -ms-grid-row: 6;
    -ms-grid-column: 2;
  }
  .gallery-content > *:nth-child(13) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }
  .gallery-content > *:nth-child(14) {
    -ms-grid-row: 7;
    -ms-grid-column: 2;
  }
  .gallery-content > *:nth-child(15) {
    -ms-grid-row: 8;
    -ms-grid-column: 1;
  }
  .gallery-content > *:nth-child(16) {
    -ms-grid-row: 8;
    -ms-grid-column: 2;
  }
}

@media (max-width: 1108px) {
  .mobile-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .mobile-app {
    padding-top: 80px;
    text-align: center;
  }
}

@media (max-width: 1100px) {
  .about-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 50px;
  }
}

@media (max-width: 1070px) {
  .figures-area {
    display: none;
  }
}

@media (max-width: 1069px) {
  .footer-wrapper {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 1032px) {
  .figures-vector2 {
    display: none;
  }

  .about-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 973px) {
  .dream-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .dream-project {
    padding-top: 30px;
  }
}

@media (max-width: 900px) {
  .header {
    padding-top: 10px;
  }

  .header-nav {
    margin: 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .header-nav__ul.active {
    padding-top: 200px;
    padding-left: 0;
    display: block;
    z-index: 50;
    position: absolute;
    background: url("../img/header/main-bg.webp") center no-repeat;
    background-color: #000;
    background-size: cover;
    width: 100%;
    height: 100vh;
    top: -20px;
    left: 0;
  }

  .header-nav__item {
    font-size: 30px;
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 50px 0;
  }

  .header-nav__item:last-child {
    margin-right: auto;
  }

  .header-logo__title {
    margin: 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .header-nav__ul {
    display: none;
  }

  .nav-btn {
    margin: 0;
    display: block;
  }

  .caption-title {
    padding-top: 100px;
  }

  .caption-title__header--main {
    font-size: 53px;
  }

  .caption-title__header--bot {
    font-size: 33px;
  }
}

@media (max-width: 844px) {
  .partners-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .partners-item {
    padding: 40px;
  }
}

@media (max-width: 770px) {
  .caption-title__header--bot {
    margin-left: 0;
  }
}

@media (max-width: 645px) {
  .figures-dream {
    display: none;
  }
}

@media (max-width: 616px) {
  .card-item {
    min-height: 470px;
  }

  .button__submit {
    padding: 15px 40px;
    left: 57px;
  }
}

@media (max-width: 595px) {
  .gallery-content {
    -ms-grid-columns: (285px)[1];
    grid-template-columns: repeat(1, 285px);
    -ms-grid-rows: (285px)[16];
    grid-template-rows: repeat(16, 285px);
  }
  .gallery-content > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .gallery-content > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .gallery-content > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .gallery-content > *:nth-child(4) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
  .gallery-content > *:nth-child(5) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .gallery-content > *:nth-child(6) {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
  }
  .gallery-content > *:nth-child(7) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }
  .gallery-content > *:nth-child(8) {
    -ms-grid-row: 8;
    -ms-grid-column: 1;
  }
  .gallery-content > *:nth-child(9) {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
  }
  .gallery-content > *:nth-child(10) {
    -ms-grid-row: 10;
    -ms-grid-column: 1;
  }
  .gallery-content > *:nth-child(11) {
    -ms-grid-row: 11;
    -ms-grid-column: 1;
  }
  .gallery-content > *:nth-child(12) {
    -ms-grid-row: 12;
    -ms-grid-column: 1;
  }
  .gallery-content > *:nth-child(13) {
    -ms-grid-row: 13;
    -ms-grid-column: 1;
  }
  .gallery-content > *:nth-child(14) {
    -ms-grid-row: 14;
    -ms-grid-column: 1;
  }
  .gallery-content > *:nth-child(15) {
    -ms-grid-row: 15;
    -ms-grid-column: 1;
  }
  .gallery-content > *:nth-child(16) {
    -ms-grid-row: 16;
    -ms-grid-column: 1;
  }
}

@media (max-width: 580px) {
  .promote-wrapper {
    padding-top: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .promote-item {
    padding-top: 40px;
  }
}

@media (max-width: 538px) {
  .caption-title__date {
    font-size: 29px;
  }

  .caption-title__header--top {
    font-size: 33px;
  }

  .caption-title__header--main {
    font-size: 43px;
  }

  .caption-title__header--bot {
    font-size: 23px;
  }

  .caption-button {
    padding-top: 150px;
  }

  .caption-form__button--submit {
    padding: 20px 100px;
  }
}

@media (max-width: 520px) {
  .header-top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .header-logo__title {
    margin: 20px;
  }

  .header-contact {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 10px;
    display: none;
  }

  .header-nav {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin: 20px;
  }
}

@media (max-width: 480px) {
  .skills-wrapper {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .skill-item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media (max-width: 418px) {
  .caption-title__date {
    font-size: 22px;
  }

  .caption-title__header--top {
    font-size: 24px;
  }

  .caption-title__header--main {
    font-size: 32px;
  }

  .caption-title__header--bot {
    font-size: 23px;
  }
}